{{define "league"}}
<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/user.js"> </script>
        <link href="/static/css/app.css" rel="stylesheet">
    </head>
    {{template "header" .}}
    <nav id="weeks">
        <ul>
            weeks:
            {{range $i := .weeks}}
                {{if $.withUser}}
                <li><a href="/week/{{$i}}?lid={{$.lid}}&uid={{$.uid}}">{{$i}}</a></li>
                {{else}}
                <li><a href="/week/{{$i}}?lid={{$.lid}}">{{$i}}</a></li>
                {{end}}
            {{end}}
        </ul>
    </nav>
    {{if eq .path "league"}}
    <div class="spacer"></div>
    <table>
        <caption>{{.league.Name}}</caption>
        <tr>
            <td rowspan="4">Users:</td>
            {{range $u := .league.Users}}
            <tr>
                <td><a href="/user/{{$u.ID}}?lid={{$.lid}}&uid={{$u.ID}}">{{$u.Name}}</a></td>
            </tr>
            {{end}}
        </tr>
    </table>
    {{end}}
</html>
{{end}}