{{define "schedule"}}
<html>
<head>
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="/static/js/user.js"> </script>
</head>
{{template "league" .}}
<div class="spacer"></div>
<a id="backtoleague" href="/league/{{ .lid }}">back</a>
<body class="home">
    <div class="container picks">
        {{if $.isLocked}}
        <div id="overlay">Locked until games start</div>
        {{end}}
        {{range $val := .schedule.Games}}
        {{$pick := index $.w $val.ID }}
        {{$ws := index $.winScore $val.ID }}
        {{$ls := index $.loseScore $val.ID }}
        {{$rw := index $.resultWinner $val.ID }}
            <div {{if $.isLocked}}id="locked"{{end}} class="card">
                <div class="row g-0 parentDiv">
                    <div id="pick-{{$val.Home.ID}}" data-user="{{$.sub}}" data-game="{{$val.ID}}" data-value="{{$val.Home.ID}}" data-week="{{$val.Week}}" {{if eq $pick $val.Home.ID}}class="col-sm-6 hometeam screen childDiv pick selection" {{else}} class="col-sm-6 hometeam screen childDiv"{{end}}>
                        {{if eq $rw $val.Home.ID}}
                        <span class="badge rounded-pill bg-success">
                            W
                        </span>
                        {{else if ne $rw "n/a"}}
                        <span class="badge rounded-pill bg-danger">
                            L
                        </span>
                        {{end}}
                        <img src="{{$val.Home.Logo}}" />
                        <p>Home</p>
                    </div>
                    <div  id="pick-{{$val.Away.ID}}" data-user="{{$.sub}}" data-game="{{$val.ID}}" data-value="{{$val.Away.ID}}" data-week="{{$val.Week}}" {{if eq $pick $val.Away.ID}}class="col-sm-6 awayteam screen childDiv selection" {{else}} class="col-sm-6 awayteam screen childDiv"{{end}}>
                        <img src="{{$val.Away.Logo}}" />
                        {{if eq $rw $val.Away.ID}}
                        <span class="badge rounded-pill bg-success">
                            W
                        </span>
                        {{else if ne $rw "n/a"}}
                        <span class="badge rounded-pill bg-danger">
                            L
                        </span>
                        {{end}}
                        <p>Away</p>
                    </div>
                </div>
                <div class="row g-0 pad">
                    <p>{{$val.Date}}</p>
                    <p>{{$val.Odds.Details}}</p>
                    <p>O/U: {{$val.Odds.OverUnder}}</p>
                </div>
                {{if eq $val.ID $.last}}
                <label for="win">win score:</label>
                <input type="text" id="win" name="win" value="{{$ws}}" required>

                <label for="lose">lose score:</label>
                <input type="text" id="lose" name="lose" value="{{$ls}}" required>
                {{end}}
            </div>
        {{end}}
    </div>
    {{if .canSubmit}}
    <button id="submit" class="btn">submit</button>
    <div class="loader"></div>
    {{end}}
</body>
</html>
{{end}}