{{define "user"}}
<html>
<head>
	<script src="/static/js/user.js"> </script>
	<link href="/static/css/app.css" rel="stylesheet">
</head>
{{template "header" .}}
{{if .withLeague}}
	{{template "league" .}}
{{end}}
<div class="container-fluid">
	<h2>Welcome {{ .user.Name }}</h2>
	<p>ID: {{ .user.ID}}</p>
	{{if .hasLeagues}}
	<p>Your leagues:</p>
		{{range $val := .leagues}}
			<a href="/league/{{$val.ID}}">{{$val.Name}}</a>
		{{end}}
	{{else}}
		<p>No Leagues yet!</p>
		<a href="/join">Join a league</a>
	{{end}}
</div>
</html>
{{end}}