body {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  font-size: 300%;
  font-weight: 100;
}
.btn {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
  margin: 1em 0;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
}
.btn:hover {
  background-color: #44C7F4;
}
.btn.btn-lg {
  padding: 20px 30px;
}
h1,
h2,
h3 {
  font-weight: 100;
}
img {
  width: 3em;
  margin-bottom: .15em;
}
label {
  font-size: 100%;
  font-weight: 300;
}
.btn-next {
  margin-top: 30px;
}

.login-page .login-box {
  padding: 5% 0;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  /* max-width: 1200px; */
  width: 100%;
}

.picks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  padding: 10px;
  /* max-width: 1200px; */
  width: 100%;
}

.card {
  display:inline-block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  width: 32%;
}

.games {
  display: flex;
}

@media (max-width: 770px) {
  .card{
    width: 100%;
  }
  .spacer {
    margin-top: 20% !important;
  }
  nav ul {
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  } 
}

.screen:hover {
  transform: translateY(-10px);
  background-color: #e3e3e3;
  cursor: pointer;
}

.selection {
  background-color: #93ecf9;
}

.hometeam {
  border-right: 1px solid #000000;
}
.awayteam {
  border-left: 1px solid #000000;
}

.pad {
  padding-top: 5px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: .5em;
  color: #535151;
}

#weeks {
  position:absolute !important;
  top: 10%;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  /* z-index: 1000; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.spacer {
  margin-top: 10% !important;
}